@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.leftPane, .rightPane {
  width: 50vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.leftPane{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rightPane p{
  font-size: small;
  text-align: left;
  white-space: pre-line;
}

.loading{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.splitScreen {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #1b1d2a;
  color: #3bffdf;
  font-family: 'Josefin Sans', cursive;
  overflow: hidden;
}
